@model List<Personel>


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div id="sizedBox"></div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Personeller</h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            @Html.ActionLink("Ekle", "Ekle", "Personel", null, new { @class = "btn btn-primary my-3" })
            <thead>
                <tr>
                    <th>Sıra No</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Unvan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model[i].Ad</td>
                        <td>@Model[i].Soyad</td>
                        <td>@Model[i].Unvan</td>
                        <td>
                            <a href="@Url.Action("Guncelle", "Personel", new { id = Model[i].Id })" class="btn btn-warning">
                                <i class="fa-solid fa-pen"></i> Düzenle
                            </a>
                        </td>

                        
                        <td>
                            <a href="@Url.Action("Sil", "Personel", new { id = Model[i].Id })" class="btn btn-warning">
                                <i class="fas fa-trash-alt"></i> Sil
                            </a>
                        </td>


                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<script>
$(document).ready(function() {
    // Personel Ekle butonuna tıklandığında
    $(".btn.btn-primary.my-3").on("click", function() {
        // DataTables'i yok et
        $('#example1').DataTable().destroy();

        // DataTables'i yeniden başlat
        $("#example1").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            // Diğer yapılandırmalar burada
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
});
</script>