@model List<Hizmetler>

<div id="sizedBox"></div>

<div class="card">
    <div class="card-header">
        <h2>Hizmetler</h2>
    </div>
    <div class="card-body">
        <table id="dataTable" class="table table-striped">
            @Html.ActionLink("Ekle", "Ekle", "Services", null, new { @class = "btn btn-primary my-3" })
            <span style="margin-left: 10px;"></span>
            @Html.ActionLink("Görüntüle", "Index", "Services", null, new { @class = "btn btn-primary my-3" })
            <thead>
                <tr>
                    <th>Sıra No</th>
                    <th>Ad</th>
                    <th>Açıklama</th>
                    <th>Icon Sınıfı</th>
                    <th>Düzenle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model[i].Ad</td>
                        <td>@Model[i].Aciklama</td>
                        <td>@Model[i].Icon</td>
                        <td>@Html.ActionLink("Düzenle", "Guncelle", "Services", new { id = Model[i].Id }, new { @class = "btn btn-warning" })</td>
                        <td>@Html.ActionLink("Sil", "Sil", "Services", new { id = Model[i].Id }, new { @class = "btn btn-warning" })</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- DataTables CSS ve JS dosyaları -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js"></script>


@section DTable{
    <script src="~/js/datatables.js"></script>
}