@model List<Gonderi>

<section class="about" id="about">
    @foreach(var gonderi in Model)
    {
        <h1 class="heading"> <span>@gonderi.BaslikBir</span> @gonderi.BaslikIki </h1>

        <div class="row">




            <div class="image">
                <img style="height:@gonderi.Height;width:@gonderi.Width;" src="@gonderi.FotoUrl" alt="" />
            </div>

            <div class="content">
                <h3>@gonderi.AltBaslik</h3>
                <p>@gonderi.Icerik</p>

                @* <h3>Evcil hayvanınızı bize emanet edin</h3> *@
                @* <p>LOremasldask asdkas lasdasldask dasl dalsd lasdlaslda ls dasl daslda</p> *@
                @* <p>lasldaslda lasdlasdl las dlasdlasldla dlasl dals ldlas dlasl dasd lasl</p> *@

                <a href="#" class="btn"> Daha Fazlası <span class="fas fa-chevron-right"></span> </a>
            </div>
        </div>
    }

</section>

<section class="footer">
    <div class="box-container">

        <div class="box">
            <h3>hızlı linkler</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i>Ana Sayfa</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Hizmetler</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Hakkında</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Doktorlar</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Randevu</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Geri Dönüşler</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Blogs</a>
        </div>

        <div class="box">
            <h3>Hizmetlerimiz</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i>Muayene ve Teşhis</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Aşılar ve Koruyucu Sağlık Hizmetleri:</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Cerrahi Müdahaleler</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Dental Bakım</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Laboratuvar Testleri</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Tedavi ve İlaçlar</a>
            <a href="#"> <i class="fas fa-chevron-right"></i>Beslenme Danışmanlığı</a>
        </div>

        <div class="box">
            <h3>İletişim Bilgileri</h3>
            <a href="#"> <i class="fas fa-phone"></i>0551 948 59 17</a>
            <a href="#"> <i class="fas fa-phone"></i>0212 123 46 49</a>
            <a href="#"> <i class="fas fa-envelope"></i>serkanozdemir38080@gmail.com</a>
            <a href="#"> <i class="fas fa-envelope"></i>vetclinik@gmail.com</a>
            <a href="#"> <i class="fas fa-envelope"></i>Isparta, Türkiye - 32020</a>
        </div>

        <div class="box">
            <h3>Bizi Takip Edin</h3>
            <a href="#"> <i class="fab fa-facebook"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> X </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
            <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
        </div>

    </div>

    <div class="credit"> created by <span>Serkan Özdemir</span></div>
</section>