@using VetKlinik.Data

@*HERKES İÇİN*@
@if (!User.IsInRole(UserRoles.Role_Admin))
{
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veteriner Kliniği</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <!--font awesome linki aşağıda-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" asp-append-version="true" />
    <!--css dosyasının yolunu verdim-->
    <link rel="stylesheet" href="~/css/style.css" />



</head>
<body>

    <section class="home" id="home">

        <div class="image">
            <img src="~/images/routine-checkup-for-pet.svg" alt="" />
        </div>

        <div class="content">
            <h3>sağlıcakla kalın</h3>
            <p>lorem15 asdas dasdasda asdasd asd asdasd asd asd as dasdasd asdasd asdasd</p>
            <a href="#" class="btn"> Bizimle iletişime geçin <span class="fas fa-chevron-right"></span></a>
        </div>
    </section>

    <section class="icons-container">

        <div class="icons">
            <i class="fas fa-user-md"></i>
            <h3>@ViewBag.VetUzmanHekimCount</h3>
            <p>Veteriner Uzman Hekim</p>
        </div>

        <div class="icons">
            <i class="fas fa-user-md"></i>
            <h3>@ViewBag.VetHekimCount</h3>
            <p>Veteriner Hekim</p>
        </div>

        <div class="icons">
            <i class="fas fa-users"></i>
            <h3>@ViewBag.VetTeknisyenCount</h3>
            <p>Veteriner Teknisyen</p>
        </div>

        <div class="icons">
            <i class="fas fa-users"></i>
            <h3>@ViewBag.VetAsistantCount</h3>
            <p>Veteriner Asistan</p>
        </div>

    </section>
    <section class="footer">
        <div class="box-container">

            <div class="box">
                <h3>hızlı linkler</h3>
                <a href="/home/index"> <i class="fas fa-chevron-right"></i>Ana Sayfa</a>
                <a href="/services/index"> <i class="fas fa-chevron-right"></i>Hizmetler</a>
                <a href="/about/index"> <i class="fas fa-chevron-right"></i>Hakkında</a>
                <a href="/doctors/index"> <i class="fas fa-chevron-right"></i>Doktorlar</a>
                <a href="/appointment/index"> <i class="fas fa-chevron-right"></i>Randevu</a>
                <a href="/review/index"> <i class="fas fa-chevron-right"></i>Geri Dönüşler</a>
                <a href="/blogs/index"> <i class="fas fa-chevron-right"></i>Blogs</a>
            </div>

            <div class="box">
                <h3>Hizmetlerimiz</h3>
                @foreach (var service in ((List<Hizmetler>)ViewBag.hizmetler))
                {
                    <a href="#">
                        <i class="@service.Icon"></i>@service.Ad
                    </a>
                }
            </div>


            <div class="box">
                <h3>İletişim Bilgileri</h3>
                <a href="#" class="label" style="text-transform:none!important;"> <i class="fas fa-phone"></i>@*@(((IletisimBilgileri)ViewBag.iletisimBilgileri)?.Adres)*@</a>
                <a href="#"> <i class="fas fa-phone"></i></a> @*@(((IletisimBilgileri)ViewBag.iletisimBilgileri)?.CepTelNo2)*@
                <a href="#" class="label"> <i class="fas fa-envelope"></i></a>
                <a href="#"> <i class="fas fa-envelope"></i></a>
                <a href="#"> <i class="fas fa-envelope"></i></a>
            </div>

            <div class="box">
                <h3>Bizi Takip Edin</h3>
                <a href="#@(((IletisimBilgileri)ViewBag.iletisimBilgileri)?.FacebookLink)"> <i class="fab fa-facebook"></i> facebook </a>
                <a href="#@(((IletisimBilgileri)ViewBag.iletisimBilgileri)?.XLink)"> <i class="fab fa-twitter"></i> X </a>
                <a href="#@(((IletisimBilgileri)ViewBag.iletisimBilgileri)?.InstagramLink)"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#@(((IletisimBilgileri)ViewBag.iletisimBilgileri)?.LinkedinLink)"> <i class="fab fa-linkedin"></i> linkedin </a>
                <a href="#@(((IletisimBilgileri)ViewBag.iletisimBilgileri)?.PinterestLink)"> <i class="fab fa-pinterest"></i> pinterest </a>
            </div>

        </div>

        <div class="credit"> created by <span>Serkan Özdemir - Furkan Kümüş</span></div>
    </section>
</body>
</html>
}

@*ADMİN İÇİN*@
@if (User.IsInRole(UserRoles.Role_Admin))
{
   
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>150</h3>

                <p>New Orders</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>44</h3>

                <p>User Registrations</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>65</h3>

                <p>Unique Visitors</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
</div>
}